//Colors
$VeryDarkGrayBlue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);

//Font
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
$Manrope: "Manrope";
$FontStandar: 13px;

//Shared elements
body {
  margin: 0;
}
.main {
  background-color: $LightGrayishBlue;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Card
.card-container {
  height: 252px;
  width: 700px;
  background-color: white;
  box-shadow: 1px 1.5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

//Card image
.card-image-container {
  height: 100%;
  width: 49.1%;
}
.card-image {
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

//Card text
.card-text-container {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-text {
  height: 85%;
  width: 90%;
  margin-left: 5%;
}
.card-title {
  color: $VeryDarkGrayBlue;
  font-family: $Manrope;
  font-weight: 700;
  font-size: larger;
  margin-bottom: 5%;
}
.card-text-body {
  color: $GrayishBlue;
  font-family: $Manrope;
  font-size: $FontStandar;
  margin-bottom: 5%;
}

//user
.user-container {
  display: flex;
  flex-direction: row;
  height: 25%;
  justify-content: center;
  align-items: center;
}
.user-image-container {
  height: 100%;
  width: 15%;
}
.user-image {
  height: 100%;
  border-radius: 100%;
}
.user-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  font-family: $Manrope;
  font-size: $FontStandar;
}
.user-name {
  font-weight: 700;
  color: $VeryDarkGrayBlue;
}
.user-post-date {
  font-weight: 500;
  color: $DesaturatedDarkBlue;
}

//Share button
.shrbtn-main {
  height: 60%;
  width: 10%;
  position: relative;
  float: right;
  margin-left: auto;
  margin-right: 0;
}
.shrbtn-container {
  height: 90%;
  background-color: $LightGrayishBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.shbtn-modal-container {
  background-color: $VeryDarkGrayBlue;
  color: $LightGrayishBlue;
  border-radius: 15px;
  padding: 0.1em 1.5em;
  position: absolute;
  width: 200px;
  height: 150%;
  top: -180%;
  right: -250%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: $Manrope;
  font-size: $FontStandar;
  font-weight: 500;
}
.arrow {
  border: solid $VeryDarkGrayBlue;
  border-width: 0 10px 10px 0;
  position: absolute;
  padding: 4px;
  top: -60%;
  left: 30%;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media (max-width: 375px) {
  .card-container {
    height: 600px;
    width: 90%;
    flex-direction: column;
  }
  .card-image-container {
    height: 100%;
    width: 100%;
    border-radius: none;
  }
  .card-image {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }

  //Card text
  .card-text-container {
    width: 95%;
  }
  .card-text {
    width: 100%;
  }

  //user
  .user-container {
    height: 20%;
    margin-top: 3em;
  }
  .user-image-container {
    width: 15%;
    margin-right: 1em;
  }
  .user-image {
    border-radius: 100%;
  }

  //Share button
  .shrbtn-main {
    height: 60%;
    width: 10%;
    position: relative;
    float: right;
    margin-left: auto;
    margin-right: 0;
  }
  .shrbtn-container {
    height: 90%;
    background-color: $LightGrayishBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
  }
  .shbtn-modal-container {
    background-color: $VeryDarkGrayBlue;
    color: $LightGrayishBlue;
    border-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    width: 300px;
    height: 80px;
    top: -12.5px;
    right: -19px;
  }
  .arrow {
    display: none;
  }
}
